html{
    
    text-align: center;
    /* border: 2px solid green; */

    font-family: 'Slabo 27px', serif;
}

body{

    margin: 0;
    /* border: 2px solid purple; */
}

.flex-container{

    display: flex;
    
    /* border: 2px solid red; */
    /* margin: 2px; */

    flex-direction: column;
}

.flex-container div{

    /* border: 1px solid brown; */
    /* margin: 2px; */

    flex: 1 1 auto;
}

.sectionA{

    height: 500px;

    display: flex;
    flex-direction: column;

    background-color: #9A3B3B;
}

.sectionA div{
    /* border: 1px solid blue; */
}

.nav-bar{

    margin-left: 200px;
    margin-right: 200px;

    padding: 20px 0;

    display: flex; 
    gap: 50px
}

.nav-bar div{
    
    /* border: 1px solid orangered; */
    height: 20px;
}

.logo{

    text-align: start;

    margin-right: 45%;
    font-size: 2rem;
}

.contentA{

    margin-left: 200px;
    margin-right: 200px;

    padding-bottom: 100px;

    display: flex;
    gap: 10px;

    align-items: center;
}

.contentA div{
    flex: 1;
}

.sideA{
    text-align: start;
}

.sideA h1{
    font-size: 3rem;
}

.sideA p{
    font-size: 1.2rem;
}

.sideB{
    text-align: end;
}

.sideB img{

    width: 500px;
    height: 250px;

    padding: 5px;

    border: 1px solid black;
    border-radius: 5px;
}

.sectionB{

    height: 500px;

    display: flex;
    flex-direction: column;

    background-color: #F2ECBE;
}

.sectionB label{

    padding: 40px 0;
    font-size: 1.5rem;
}

#tiles{

    padding-bottom: 100px;
    
    margin-left: 150px;
    margin-right: 150px;

    display: flex;
}

#tiles img{

    width: 200px;
    height: 200px;

    border: 2px solid #9A3B3B;
    border-radius: 5px;
}

.sectionC{

    height: 300px;
    background-color: #E2C799;
}

.sectionC div{

    margin-left: 200px;
    margin-right: 200px;

    margin-top: 100px;
    font-size: 1.5rem;
}

.sectionD{

    height: 200px;
    background-color: #F2ECBE;
}

.signUpCard{

    border: 1px solid brown;
    border-radius: 5px;

    margin-left: 25%;
    margin-right: 25%;

    display: flex;
    
    align-items: center;
    margin-top: 60px;

    padding: 5px;
}

.signUpCard div{
    
    /* border: 1px solid brown; */
    padding: 10px 40px;
}

#cardText{
    text-align: start;
}

footer{

    height: 75px;
    background-color: #C08261;

    padding-top: 30px;
}

button{
    
    border: 0;
    border: 1px solid black;

    border-radius: 5px;
    padding: 7.5px;

    background-color: black;
    color: white;

    /* To define the speed of "hover" effect */
    transition-duration: 0.4s;
}

button:hover {
    background-color: #9A3B3B;
}

.signUpCard button:hover {

    background-color: #F2ECBE;
    color: black;
}