html{
    border: 2px solid green;
}

body{
    border: 2px solid purple;
}

.flex-container{

    display: flex;
    border: 2px solid red;

    margin: 2px;

    flex-direction: column;
}

.flex-container div{

    border: 1px solid brown;

    margin: 2px;
    flex: 1 1 auto;
}

.sectionA{

    display: flex;
    flex-direction: column;

    background-color: #9A3B3B;
}

.sectionA div{
    border: 1px solid blue;
}

.nav-bar{
    display: flex;
}

.nav-bar div{
    
    border: 1px solid orangered;
    height: 20px;
}

.logo{
    width: 45%;
}

.contentA{
    display: flex;
}

.contentA div{
    flex: 1;
}

.sideB img{

    width: 500px;
    height: 250px;
}

.sectionB{

    display: flex;
    flex-direction: column;

    background-color: #F2ECBE;
}

#tiles{

    display: flex;
}

#tiles img{

    width: 100px;
    height: 100px;
}

.sectionC{
    background-color: #E2C799;
}

.sectionD{
    background-color: #F2ECBE;
}

.signUpCard{
    display: flex;
}

footer{
    background-color: #C08261;
}